<template>
  <section class="max-w-7xl mx-auto flex md:flex-row flex-col justify-between items-center relative gap-5">
    <article class="w-full md:w-1/2 md:mr-12">
      <h1 class="font-extralight">
        Hello guys &#x1f44b; I'm
      </h1>
      <h2 class="text-4xl font-bold mt-4 text-custom-brown">
        Reza Ali Firdaus
      </h2>
      <p class="mt-4">
        Web development enthusiast, especially in front end development. Always love to learn new things. Wanna know more about me? 
        <nuxt-link to="/about" class="underline hover:text-custom-orange transition-colors">click here.</nuxt-link>
      </p>
      <section id="action" class="flex flex-col justify-start vsm:flex-row vsm:items-center mt-4">
        <a 
          href="mailto:mhmmdrezalif@gmail.com" 
          class="bg-custom-brown hover:bg-custom-orange transition-colors ease-in-out duration-150 px-4 py-2 
          rounded-lg text-center text-white">
          Contact Me
        </a>
        <a 
          href="https://drive.google.com/file/d/10_gTJDOyOLUfO_ala5I0Ye-KgUO1rV8S/view?usp=sharing" 
          target="_blank" 
          class="px-4 py-2 rounded-lg vsm:ml-4 transition-colors 
          ease-in-out duration-150 mt-4 vsm:mt-0 text-center text-custom-brown hover:text-custom-orange">
          Download CV
        </a>
      </section>
    </article>
    <div class="max-w-[400px] rounded-full border border-custom-brown p-3">
      <img src="~/assets/image/reza.jpg" alt="Foto Reza" class="object-cover rounded-full">
    </div>
  </section>
</template>

