<template>
  <section class="max-w-7xl flex flex-col items-center mx-auto rounded-xl">
    <article class="w-full flex flex-col items-start">
      <h1 class="text-lg font-bold text-custom-orange border-b-2 border-custom-brown">Works</h1>
      <h2 class="text-4xl font-bold mt-4 text-custom-orange">Projects collections</h2>
      <p class="mt-4">The following are the projects that I worked on previously</p>
    </article>

    <div class="w-full grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-3 mt-12">
      <Showcase v-for="project in projects" :key="project.id" :project="project" />
    </div>
  </section>
</template>

<script>
import Showcase from "~/components/base/Showcase";

export default {
  name: 'Projects',
  components: {
    Showcase
  },
  data() {
    return {
      projects: [
        {
          id: 1,
          title: 'Dikadoin Dong',
          link: 'https://qitadev.github.io/dikadoin-dong/',
          image: '/projects/Dikadoin.png',
          category: 'Front End Development',
          build: ['React', 'TailwindCSS', 'Gatsby']
        },
        {
          id: 2,
          title: 'RA Yasdjanur',
          link: 'https://rayasdjanur.sch.id/',
          image: '/projects/yasdjanur.png',
          category: 'Front End Development',
          build: ['Vue', 'TailwindCSS', 'Nuxt']
        },
        {
          id: 3,
          title: 'JALA Web Apps',
          link: 'https://app.jala.tech/',
          image: '/projects/jala.png',
          category: 'Front End Development',
          build: ['JS', 'Vue', 'Sass', 'Laravel']
        },
        {
          id: 4,
          title: 'PokePedia',
          link: 'https://firdausreza-pokepedia.vercel.app/',
          image: '/projects/PokePedia.png',
          category: 'Front End Development',
          build: ['JS', 'Vue', 'TailwindCSS', 'GraphQL', 'Apollo', 'PokeAPI']
        },
        {
          id: 5,
          title: 'Gramedia',
          link: 'https://gramedia.com/',
          image: '/projects/Gramedia.png',
          category: 'Front End Development',
          build: ['Angular', 'TypeScript', 'Less']
        },
      ]
    }
  }
}
</script>
