<template>
  <section class="max-w-7xl flex flex-col md:flex-row items-start justify-between gap-5 mx-auto relative text-white">
    <article class="w-full md:w-1/2 flex flex-col justify-start">
      <h1 class="w-max text-lg font-semibold border-b-2 border-custom-brown">Services</h1>
      <h2 class="text-4xl font-bold mt-4">What can I do for you?</h2>
      <p class="mt-4">
        I will help you with finding a solution and solve your problem.
        I'm quite experienced to help people implement their product with code.
      </p>
    </article>
    <article class="w-full md:w-1/2 flex flex-col gap-3 py-4">
      <div class="w-full flex flex-col items-start sm:flex-row sm:items-center gap-2 sm:gap-5 p-4 rounded-sm shadow-md bg-white text-black">
        <div class="flex-1 flex justify-center items-center">
          <font-awesome-icon icon="laptop-code" size="3x" style="color: #CC6600;" />
        </div>
        <div class="sm:w-[85%]">
          <h3 class="text-lg font-semibold text-custom-orange">Web Development</h3>
          <p class="text-sm mt-2 text-justify">
            I have 2 years of experience in web development, especially in the front end. 
            I can also help you to create a web with basic CRUD features using standard tools on the front-end.
          </p>
        </div>
      </div>

      <div class="w-full flex flex-col items-start sm:flex-row sm:items-center gap-2 sm:gap-5 p-4 rounded-sm shadow-md bg-white text-black">
        <div class="flex-1 flex justify-center items-center">
          <font-awesome-icon icon="file-code" size="3x" style="color: #CC6600;" />
        </div>
        <div class="sm:w-[85%]">
          <h3 class="text-lg font-semibold text-custom-orange">UI Slicing</h3>
          <p class="text-sm mt-2 text-justify">
            If you have the web design and it's full guide, I can help you to slice them pixel perfect with any tools you want.
          </p>
        </div>
      </div>

      <div class="w-full flex flex-col items-start sm:flex-row sm:items-center gap-2 sm:gap-5 p-4 rounded-sm shadow-md bg-white text-black">
        <div class="flex-1 flex justify-center items-center">
          <font-awesome-icon icon="bug" size="3x" style="color: #CC6600;" />
        </div>
        <div class="sm:w-[85%]">
          <h3 class="text-lg font-semibold text-custom-orange">Front End Bugs & Errors Troubleshooting</h3>
          <p class="text-sm mt-2 text-justify">
            I can help you to trace and solve any front end bugs and errors that occurs on your web application
          </p>
        </div>
      </div>
    </article>
  </section>
</template>

