<template>
  <header class="bg-white">
    <nav class="max-w-7xl flex flex-row justify-between items-center mx-auto py-8 px-4 md:px-0 text-custom-orange">
      <nuxt-link to="/" class="flex flex-row items-center">
        <img src="~/assets/image/logo.svg" alt="Logo Reza" width="50">
        <h1 class="text-xl font-bold ml-3">
          Reza Firdaus
        </h1>
      </nuxt-link>
      <div class="md:flex hidden flex-row justify-center items-center">
        <nuxt-link to="/about" class="hover:text-custom-brown p-2 transition-colors">
          About Me
        </nuxt-link>
        <nuxt-link :to="{ path: '/', hash:'#services'}" class="mx-2 cxs:mx-0 hover:text-custom-brown p-2 transition-colors">
          Services
        </nuxt-link>
        <nuxt-link :to="{ path: '/', hash:'#works'}" class="mx-2 cxs:mx-0 hover:text-custom-brown p-2 transition-colors">
          Works
        </nuxt-link>
        <nuxt-link :to="{ path: '/', hash:'#skills'}" class="mx-2 cxs:mx-0 hover:text-custom-brown p-2 transition-colors">
          Skills
        </nuxt-link>
        <nuxt-link :to="{ path: '/', hash:'#contact'}" class="hover:text-custom-brown p-2 transition-colors">
          Contact
        </nuxt-link>
      </div>
    </nav>
  </header>
</template>

