<template>
  <div class="overflow-hidden">
    <Header />
    <main>
      <section id="intro" class="py-8">
        <Intro class="px-4 md:px-0" />
      </section>
      <section id="services" class="py-8 bg-custom-orange">
        <Services class="px-4 md:px-0" />
      </section>
      <section id="works" class="py-8">
        <Projects class="px-4 md:px-0" />
      </section>
      <section id="skills" class="py-8 bg-custom-orange">
        <Skills class="px-4 md:px-0" />
      </section>
      <section id="contact" class="py-8">
        <Contact class="px-4 md:px-0" />
      </section>
    </main>
    <Footer />
  </div>
</template>

<script>
import Intro from "~/components/index/Intro"
import Services from "~/components/index/Services"
import Skills from "~/components/index/Skills"
import Projects from "~/components/index/Projects"
import Contact from "~/components/index/Contact"
import Header from "~/components/base/Header"
import Footer from "~/components/base/Footer"

export default {
  components: {
    Intro,
    Services,
    Skills,
    Projects,
    Contact,
    Header,
    Footer
  }
}
</script>

